{% extends "layout.html" %}

{% block title %}
        Apology
{% endblock %}

{% block main %}
    <title>Apology</title>
</head>
<body>
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://lh3.googleusercontent.com/proxy/QBMNanW1zgEXdh53sC9Dxw-FGdCrvo_1YOeXXmOrLztUuRx4nTjz5iSzb_VtggPzZ2tX4y9Pgz6m-zFLAthT_miH-OLDDl-M7B0JV06d-CD_228nZMily2lSJGqzVxWi-rsRq1deKvkxvHfBRJM_b0mavr_fJ_LbyIPX094Aqe7EqN0"/>
</body>
</html>
{% endblock %}