{% extends 'layout.html' %}

{% block title %}
allybooks
{% endblock %}

{% block main %}
<title> Search</title>
    <body>
        <div class="container">
            <div class="forms-container">
                <form method="POST" action="/search" onSubmit="return validarForm(this)">
                    <br>
                    <div class="input-field">
                        <i class="fas fa-book"></i>
                        <input autocomplete="off" autofocus class="form-control" name="b"
                            placeholder="isbn, title or author..." type="text" required />
                    </div>
                    <button class="btn btn-primary">Search</button>
            </div> </form>
        </div>
    </body>

{% endblock %}